<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>HallServlet</servlet-name>
        <servlet-class>ru.job4j.cinemaarhitecture.servlet.HallServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HallServlet</servlet-name>
        <url-pattern>/hall</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>ru.job4j.cinemaarhitecture.servlet.AccountServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>


</web-app>